.light-theme
{
    --nav-primary-color : #082B4B;
    --nav-background-color-1 :#EE6C4D;
    --nav-background-color-2:#FDE3C7;
    --primary-text:#54739B;
    --secondary-text:#EB6E52;
    --home1-background-color:#A5CCE2; 
    --hero-1:#fde3c800;
    --hero-2:#F8EEE3;
    --eclipse:#F8EEE3;
    --footer:#F8EEE3;
    --about-1:#54739B;
    --about-2:#082B4B;
    --edition-gallery:#54739B;
    --angle-gallery:#EE6C4D
}

.dark-theme
{
    --nav-primary-color : #F2B995;
    --nav-background-color-1 :#082B4B;
    --nav-background-color-2:#54739B;
    --home1-background-color:#54739B; 
    --primary-text:#EB6E52;
    --secondary-text:#F8EEE3;
    --hero-1:#082B4B00;
    --hero-2:#082B4B;
    --eclipse:#082B4B;
    --footer:#F2B995;
    --about-1:#F8EEE3;
    --about-2:#EE6C4D;
    --edition-gallery:#EE6C4D;
    --angle-gallery:#F8EEE3
}
body{
    overflow-x: hidden;
}