*{
    background-color: var(--home-background-color);
}

.hero
{
    display: flex;
    gap: 20px;
    background-color: var(--hero-2);
    margin: 20px;
    border-radius: 15px;
}

#mobile
{
    justify-content: center;
}

#hero-img
{
    border-radius: 15px;
    overflow-wrap: normal;
    max-width: 65%;
    max-height: 77%;
    mask-image: linear-gradient(to left, var(--hero-1) 0%,var(--hero-1) 1%,var(--hero-2)100%);
}

.mun
{
    border-radius: 15px;
    display: block;
    overflow: hidden;
    max-width: 500px;
    max-height: 250px;
    padding: 20px;
    background-color: var(--hero-2);
    align-self: center; 
    text-align: center;

}

#mun-1
{ 
    color: var(--primary-text);
    background-color: var(--hero-2);
    font-size: 50px;
    font-weight: bolder;
    padding: 0%;
    margin: 0%;
}
#mun-2
{
    padding: 0%;
    margin: 0%;
    color: var(--primary-text);
    background-color: var(--hero-2);
    font-size: 90px;
    font-weight: bolder;
}
#mun-3
{
    padding: 0%;
    margin: 0%;
    color: var(--primary-text);
    background-color: var(--hero-2);
    font-size: 25px;
}
#mun-4
{
    padding: 0%;
    margin: 0%;
    color: var(--primary-text);
    background-color: var(--hero-2);
    font-size: 25px;
}

.quote
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    width: 97%;
    height: 250px;
    padding: 20px;
    margin-left: 1.5%;
    margin-top: 3%;
    background-color: var(--hero-2);
    align-self: center; 
    text-align: center;
    border-radius: 15px;
}

.quote h3
{
    color: var(--secondary-text);
    background-color: var(--hero-2);
}

.quote h4
{
    color: var(--secondary-text);
    background-color: var(--hero-2);
}

#quote-1
{
    color: var(--primary-text);
    padding-bottom: 2%;
}
