.footer
{
    width: 100%;
    background-color: var(--home1-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    width: 96%;
    height: auto;
    padding: 50px;
    margin-left: 2%;
    margin-top: 4%;
    align-self: center; 
    text-align: center;
    gap:15px;
}

.footer img
{
    align-self: center;
}
.icons
{
    display: flex;
    gap: 60px;
    padding: 8%;
    justify-content: center;
}

#insta
{
    color: var(--home1-background-color);
    background-color: var(--footer);
}

#facebook
{
    color: var(--home1-background-color);
    background-color: var(--footer);
}

#twitter
{
    color: var(--footer);
}

p
{
    font-weight: 400;
font-size: 15px;
line-height: 20px;
color: var(--footer);
}

.icons img
{
    align-self: center;
    width: 24px;
    height: 24px;
}

a{
    color: var(--footer);
    text-decoration: none;
}

a:hover{
    color: var(--footer);
}