.preved {
    position: relative;
   
    background-color: var(--eclipse);
    min-height: 15.486vw;
    width: 92vw;
    margin: 4vw;
    padding: 0px;
    margin-bottom: 6vw;
    overflow: scroll;
}
.head{
    letter-spacing: 0.06em;
    font-family:'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3vw;
    color: var(--preved-head);
    background-color: transparent;
    padding: 10px;
}
.councils{
    background-color: transparent;
    display: flex;
    justify-content:space-between;
    align-content: center;
    overflow:scroll;
    
}
@keyframes example {
    0%{ opacity: 0;
        
       
        }
     
    100%{opacity: 1;
      
        }
}
.council{
    margin: 20px;
    
    height: 4.4vw;
    min-width: 18vw;
    background-color: #EB6E52;
    color: #F8EEE3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7vw;
    font-weight: 500;
    letter-spacing: 0.06em;
    font-family: Arial, Helvetica, sans-serif;
    animation: example2 0.6s linear 0s 1 ;
}
@media screen and (max-width : 900px) {
    .council{
        min-width: 180px;
        font-size: 18px;
        height: 45px;
    }
    .head{
        font-size: 5vw;
    }
}

.container{
    padding: 0px;
    margin: 2vw;
    min-width: 260px;
    min-height: 260px;
    animation: eg 1s linear 0s 1;
    overflow: hidden;
    text-align: center;
    color: #F8EEE3;
}

@keyframes eg {
    from{
        opacity: 0;
        min-height: 0px;
        max-height: 0px;
        min-width: 260px;
    }
    to{
        opacity: 1;
        min-height: 260px;
        max-height: 0px;
        min-width: 260px;
    }
}
/* .councilimg{
    margin: 2vw;
    width: 260px;
    height: 260px;
    
} */
.heading1{
    margin: 0.5vw;
    display: grid;
    grid-template-columns: 1.5278vw 50.1vw 47vw;
}
.block11{
    z-index: 1;
    height: 3.8194vw;
    margin-top: 4vw;
    background-color: var(--about-1);
   
}
.block21{
    z-index: 1;
    height: 3.8194vw;
    margin-top: 4vw;
    background-image: linear-gradient(to right, var(--about-1) , var(--about-2));
    
}
.text1{
    margin-top: 2.25vw;
    margin-bottom: 2vw;
    margin-left: 1.5vw;
    margin-right: 1vw;
    background: none;
    z-index: 1;
    color: var(--about-1);
    font-size: 4.7vw;
    font-weight: 700;
    word-spacing: 0.3em;
}
.text21{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    font-size: 8vw;
    color: var(--about-1);
    font-weight: 700;
    margin: 3vw;
    word-spacing: 0.3em;
}
.eclipse1
{
    position: absolute;
width: 76vw;
height: 76vw;
left: -32vw;
top: -27vw;
   
background: var(--eclipse);
filter: blur(14vw);
z-index: 0;
}

.eclipse-21
{
    position: absolute;
    width: 42.5vw;
    height: 42.5vw;
    left: 77.5vw;
    top: 56vw;
    z-index: 0;
    background: var(--eclipse);
    filter: blur(14vw);
}
/* width */
.subhead{
    font-size: 2vw;
}