.notfound{
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
}
.text21{
    color: var(--primary-text);
    font-size: 5vw;
    font-style: italic;
}
.im{
    height: 20vw;
}